@import "global/normalize";
@import "global/scaffolding";
@import "global/fonts";
@import "global/variables";
@import "global/general";
// HEADER
header {
    position: relative;
    background: url(../img/header-bg.jpg) center no-repeat;
    background-size: cover;
    height: 100vh;
    @media (max-width: 320px) {
        background: url(../img/author-photo.jpg) center center no-repeat;
        background-size: cover;
    }
    &::after {
        position: absolute;
        content: "";
        display: block;
        width: 3em;
        height: 3em;
        border: 1px solid white;
        border-top: transparent;
        border-right: transparent;
        bottom: 2%;
        left: 50%;
        transform: rotate(-45deg);
        @media (max-width: 320px) {
            bottom: 5%;
        }
    }
    & .container {
        height: 100%;
        @media (max-width: 320px) {
            height: 80%;
        }
    }
}

.header__top-line {
    display: flex;
    justify-content: space-between;
    color: $c-secondary;
    @media (max-width: 320px) {
        background-color: #000000;
        height: 115px;
    }
}

.logo {
    @media (max-width: 768px) {
        max-width: 105px;
        max-height: 70px;
    }
    @media (max-width: 768px) {
        max-width: 120px;
        max-height: 80px;
    }
}

.top-nav {
    max-width: 490px;
    width: 100%;
    @media (max-width: 768px) {
        max-width: 400px;
    }
    @media (max-width: 320px) {
        width: 0;
    }
}

.nav-list {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    font-family: $f-primary;
    margin-left: 3em;
    margin-right: 3em;
    &__item {
        font-size: 1.4em;
        display: inline-block;
        font-weight: 700;
        letter-spacing: 1px;
    }
    &__item:hover {
        text-decoration: underline;
    }
    @media (max-width: 320px) {
        display: none;
    }
}

.nav-mobile-list {
    display: none;
    position: fixed;
    background-color: #000;
    top: 0;
    left: 0;
    width: 60vw;
    height: 100vh;
    font-size: 2em;
    z-index: 10;
    &--show {
        display: block;
    }
    &__item-link {
        padding: 20px 0 20px 45px;
        display: block;
    }
    &__item-link:hover {
        background-color: #ffffff;
        color: #000000;
    }
}

.mobile-menu-button {
    position: relative;
    display: block;
    width: 35px;
    height: 20px;
    margin-top: 45px;
    margin-right: 3em;
    margin-left: 20px;
    cursor: pointer;
    @media (min-width: 321px) {
        display: none;
    }
    &__first-line,
    &__second-line,
    &__third-line {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: white;
    }
    &__second-line {
        top: 10px;
    }
    &__third-line {
        top: 20px;
    }
}

.language {
    margin-top: 50px;
    max-width: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.4em;
    font-weight: 700;
    &__primary {
        text-decoration: underline;
    }
    &__primary,
    &__secondary {
        cursor: pointer;
    }
    @media (max-width: 768px) {
        font-size: 14px;
    }
}

.header-slogan {
    align-self: center;
    &__text {
        font-family: $f-secondary;
        font-size: 10em;
        color: $c-secondary;
        font-weight: 200;
        line-height: 1.5;
        @media (max-width: 768px) {
            font-size: 6em;
        }
        @media (max-width: 320px) {
            padding: 0 10%;
            font-size: 4em;
        }
    }
}

.hire-me {
    display: block;
    width: 165px;
    height: 45px;
    border: 2px solid white;
    margin: 0 auto;
    font-size: 1.4em;
    font-weight: 700;
    color: white;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    &--header {
        margin-bottom: 12%;
        @media (max-height: 700px) {
            margin-bottom: 5%;
        }
    }
    &--portfolio {
        margin-top: 50px;
        border: 2px solid #000000;
        color: #000000;
    }
}

// HEADER
// MAIN
.about {
    display: flex;
    justify-content: space-between;
    padding-top: 5em;
    padding-bottom: 5em;
    @media (max-width: 768px) {
        padding-left: 5%;
        padding-right: 5%;
    }
    @media (max-width: 320px) {
        padding-left: 10%;
        padding-right: 10%;
    }
    &__info,
    &__img {
        max-width: 425px;
        @media (max-width: 768px) {
            max-width: 278px;
        }
    }
    &__img {
        max-width: 290px;
        height: 345px;
        @media (max-width: 1020px) {
            margin-left: 20px;
        }
        @media (max-width: 320px) {
            display: none;
        }
    }
    &__info-header {
        font-family: $f-secondary;
        font-size: 30px;
        font-size: 3em;
        font-weight: 200;
        margin: 0;
        margin-bottom: 17px;
        @media (max-width: 768px) {
            font-size: 20px;
        }
    }
    &__info-text {
        font-family: $f-primary;
        font-size: 1.4em;
        font-weight: 300;
        line-height: 1.3;
        @media (max-width: 768px) {
            font-size: 1.5em;
        }
    }
    @media (max-width: 768px) {
        font-size: 1em;
    }
}

.quote {
    position: relative;
    height: 465px;
    background: url(../img/quote-bg.jpg) no-repeat center center;
    background-size: cover;
    padding-top: 185px;
    padding-bottom: 135px;
    color: #ffffff;
    font-family: $f-secondary;
    font-size: 3em;
    font-weight: 700;
    @media (max-width: 768px) {
        font-size: 2.5em;
    }
    &::after {
        position: absolute;
        content: "";
        display: block;
        width: 15px;
        height: 15px;
        border: 1px solid white;
        border-top: transparent;
        border-right: transparent;
        bottom: 4%;
        left: 50%;
        transform: rotate(-45deg);
    }
    &__one-half {
        position: absolute;
        top: 43%;
        left: 8.5%;
    }
    &__two-half {
        position: absolute;
        top: 50%;
        right: 10%;
    }
    &__author {
        position: absolute;
        top: 60%;
        right: 9%;
        font-size: 1em;
        font-weight: 300;
    }
}

.portfolio {
    position: relative;
    padding-top: 50px;
    padding-bottom: 10%;
    @media (max-width: 320px) {
        padding-bottom: 20%;
    }
    &::after {
        position: absolute;
        content: "";
        display: block;
        width: 15px;
        height: 15px;
        border: 1px solid black;
        border-top: 1px solid white;
        border-right: 1px solid white;
        bottom: 4%;
        left: 50%;
        transform: rotate(-45deg);
        @media (max-width: 320px) {
            bottom: 2%;
        }
    }
    &__header {
        text-align: center;
        font-family: $f-secondary;
        font-size: 3em;
        font-weight: 200;
    }
}

.portfolio-images {
    display: flex;
    justify-content: space-between;
    @media (max-width: 320px) {
        flex-direction: column;
        align-items: center;
    }
    &__column-left,
    &__column-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__column-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media (max-width: 768px) {
            margin: 0 5%;
        }
    }
    &__column-left div,
    &__column-right div,
    &__column-center div {
        position: relative;
    }
    &__column-left div::after,
    &__column-right div::after,
    &__column-center div::after {
        content: "show more";
        position: absolute;
        top: 0;
        left: 0;
        color: #ffffff;
        font-size: 14px;
        text-align: center;
        opacity: 0;
    }
}

.portfolio-images>a:hover .portfolio-images a>div::after {
    opacity: 1 !important;
}

// настройка кнопок галереи
.mfp-arrow-left:after {
    border-right: 0;
}

.mfp-arrow-right:after {
    border-left: 0;
}

.mfp-arrow:before {
    border-top-width: 0;
    border-right-width: 0;
    opacity: 1;
}

.mfp-arrow-right:before {
    border-left: 0;
}

.mfp-arrow-left:before {
    border-bottom: 3px solid white;
    border-left: 3px solid white;
    background-color: transparent;
    width: 3.5em;
    height: 3.5em;
    left: 30%;
    transform: rotate(45deg);
}

.mfp-arrow-right:before {
    border-bottom: 3px solid white;
    border-right: 3px solid white;
    background-color: transparent;
    width: 3.5em;
    height: 3.5em;
    margin-left: 0;
    transform: rotate(-45deg);
}

div.mfp-close {
    position: fixed;
    top: 1%;
    right: 1%;
    font-family: $f-primary;
    font-weight: 100;
    font-size: 50px;
}

.feedback {
    display: flex;
    flex-direction: column;
    min-height: 520px;
    background: url(../img/feedback-bg.jpg) no-repeat center center;
    background-size: cover;
    &__header {
        margin-top: 45px;
        color: #ffffff;
        text-align: center;
        font-family: $f-secondary;
        font-size: 3em;
        font-weight: 200;
        text-transform: uppercase;
    }
    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #ffffff;
    }
    &__form-name,
    &__form-email,
    &__form-textarea,
    &__form-button {
        padding-left: 0.8em;
        font-family: $f-primary;
        color: #ffffff;
        font-size: 1.2em;
        max-width: 245px;
        width: 100%;
        height: 45px;
        background: transparent;
        border: 2px solid white;
        margin-bottom: 20px;
    }
    &__form-textarea {
        height: 150px;
        padding-top: 15px;
    }
    &__form-button {
        width: 145px;
        cursor: pointer;
    }
}

// MAIN
// FOOTER 
footer {
    background-color: #000;
    height: 320px;
}

.contact {
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #ffffff;
    align-items: center;
    font-family: $f-primary;
    font-size: 1.2em;
    font-weight: 700;
    &__heading {
        margin-top: 50px;
        margin-bottom: 0px;
        font-family: $f-secondary;
        font-weight: 200;
    }
    &__geo img,
    &__phone img,
    &__mail img {
        margin-right: 10px;
    }
    &__social {
        width: 120px;
        display: flex;
        justify-content: space-between;
    }
}