body {
  font-family: $f-primary;
  font-size: $f-text-size;
  line-height: $f-base-lh;
  color: $c-primary;
  @media (max-width: 768px) {
    font-size: 8px;
  }
  @media (max-width: 320px) {
    font-size: 6px;
  }
}

// Центровщик
.container {
  max-width: 1140px;
  padding: 0 7%;
  margin: 0 auto;
  @media (max-width: 768px) {
    padding: 0 1%;
  }
 
}

header .container {
  padding: 0;
}

// FLEXBOX
.flex-block {
  display: flex;
  justify-content: space-between;
}

.flex-block-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}