.body-page {
  font-family: $f-primary;
  font-size: $f-text-size;
  line-height: $f-base-lh;
  color: $c-primary;
}

// Центровщик
.container-inner {
  margin: 0 auto;
  @media (min-width: 1000px) {
    width: 980px;
  }
  @media (min-width: 600px) {
    width: 640px;
  }
  @media (min-width: 320px) {
    width: 233px;
  }
}